* {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 99%;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}

.center {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.section {
    display: flex;
}

.darkLight {
    margin: 0 40px;
    font-weight: 900;
}

.setting {
    width: 20%;
    padding: 100px 20px;
}

.divsort {
    display: flex;
    align-items: center;
    gap: 20px;
}

.divcnt {
    display: flex;
    align-items: center;
}

.btnSort {
    width: 100px;
}

.divSelect {
    display: flex;
    gap: 20px;
    padding: 10px 0;
}

.address {
    height: 30px;
    display: flex;
    align-items: center;
}

.address a,
.pSlesh {
    color: #8a959d;
    font-weight: 700;
    font-family: sans-serif;
}

.address a:hover {
    background-color: inherit;
    transform: scale(1.2);
}

.box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    gap: 20px;
    margin: auto;
    width: 95%;
    overflow-y: scroll;
    height: 85vh;
}


.card {
    width: 30%;
    padding: 10px;
}

.imgCard {
    width: 100%;
    height: 200px;
    object-fit: cover;

}

.size-6 {
    width: 24px;
}

.pStatus {
    font-weight: 700;
    font-family: sans-serif;
    padding: 10px 0;
}



dialog {
    margin: auto;
    padding: 50px 100px;
    border: none;
    border-radius: 5px;
}

button,
input,
select {
    margin: 0px;
    background-color: rgb(255, 255, 255, 0.8);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 15px;
}

input {
    background-color: white;
    width: 250px;
}

button {
    cursor: pointer;
    margin: 0 5px;
}

button:hover {
    background-color: #8a959d;
    color: white;
}

.check {
    width: 18px;
    height: 18px;
}

/* /// */

.infodiv {
    display: flex;
}

.infotext {
    width: 400px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    display: flex;
    justify-content: end;
}

.infoImage {
    width: 450px;
    height: 400px;
    object-fit: cover;
}

.infoStatus {
    padding: 2px 0;
    font-size: 15px;
    font-weight: 900;
    font-family: sans-serif;
}

.infoName {
    color: #222222;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0%;
}

.infoDescription {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #235275;
}

.infoPrice {
    font-family: sans-serif;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    color: #235275;
}

.infoCotegory,
.infoId {
    padding: 2px;
}

.infoColor{
    display: flex; gap: 10px;
}

.addColors {
    width: 225px;
    border-radius: 5px;
    padding: 5px;
    height: 20px;
    border: 1px solid black;
    margin: 10px 0;
    display: flex;
    gap: 10px;
}
.editColors {
    width: 225px;
    border-radius: 5px;
    padding: 5px;
    height: 20px;
    border: 1px solid black;
    margin: 10px 0;
    display: flex;
    gap: 10px;
}

.divColor,.divinfocolor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
}

.cntProd {
    font-size: 18px;
    color: white;
    background-color: rgba(255, 0, 0, 0.786);
    width: 30px;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    font-weight: 700;
}

.cntprs {
    padding: 5px 0;
    font-size: 18px;
}

select {
    width: 100px;
}

.inpRange {
    width: 90%;
}

/* From Uiverse.io by andrew-demchenk0 */
.theme {
    --bg-color: #111;
    --main-color: rgb(220, 220, 220);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--bg-color);
    border-radius: 100%;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    color: white;
}

.input {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
}

.icon {
    position: absolute;
    top: calc(50% -13px);
    left: calc(50% -13px);
    width: 26px;
    height: 26px;
}

.icon.icon-moon {
    fill: var(--main-color);
}

.icon.icon-sun {
    stroke: var(--main-color);
    display: none;
}

.input:checked~.icon.icon-sun {
    display: block;
}

.input:checked~.icon.icon-moon {
    display: none;
}

.theme:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}

@media (max-width:640px) {
    .header {
        width: 100%;
        padding: 10px 0;
    }

    select,
    .btnSort {
        width: 150px;
    }

    .divsort {
        display: flex;
        align-items: center;
    }

    .btnSort {
        margin-left: 55px;
    }

    .divSelect {
        display: flex;
        gap: 20px;
    }

    .center {
        flex-wrap: wrap;
    }

    .section {
        display: block;
    }

    .setting {
        width: 90%;
        margin: auto;
        padding: 0px 10px;
        padding-top: 60px;
    }

    .darkLight {
        margin: 0;
    }

    .inpSearch {
        width: 120px;
    }

    .card {
        width: 100%;
    }

    input {
        width: 200px;
    }

    .box {
        padding: 20px 0;
    }

    .address {
        padding: 0px;
    }

    .infodiv {
        flex-direction: column;
    }

    .infotext {
        width: 90%;
        padding: 10px;
    }

    .infoImage {
        width: 100%;
        height: 250px;
    }

    dialog {
        padding: 10px;
    }
}